<h1>Tarea 2 del Taller de Integracion - mmosser</h1>

<p>This app allows you to collect informations of instagram publications using a special TAG</p>

<h2>API's documentation:</h2>

<h3>Version 3.0.1</h3>
<p>At this stage, the app is supposed to respond a JSON with the total number of publications on instagram using the tag in parameter and the 3 last post using the tag + informations about.</p>

<p> </p>
<p> </p>
<p>Route: POST /instagram/tag/buscar</p>
<p>Params: tag (string) , access_token(string)</p>
<p>_______________________________________________________</p>
<p> </p>








<h3>Version 2.0.3</h3>
<p>At this stage, the app is supposed to respond a JSON with the total number of publications on instagram using the tag in parameter OR a JSON with the last post using the tag and informations about.</p>

<p> </p>
<p> </p>
<p>Route: POST /instagram/tag/metadata</p>
<p>Params: tag (string) , access_token(string)</p>
<p>Route: POST /instagram/tag/posts</p>
<p>Params: tag (string) , access_token(string)</p>

