<h1>Tarea 2 del Taller de Integracion - mmosser</h1>

<p>This app allows you to collect informations of instagram publications using a special TAG</p>

<h2>API's documentation:</h2>
<p>Version 2.0.1</p>
<p>At this stage, the app is supposed to respond a JSON with the total number of publications on instagram using the tag in parameter OR a JSON with the last post using the tag and informations about.</p>

<p> </p>
<p> </p>
<h3>POST /instagram/tag/metadata</h3>
<p>Params: tag (string) , access_token(string)</p>
<h3>POST /instagram/tag/posts</h3>
<p>Params: tag (string) , access_token(string)</p>

