<h1>Tarea 2 del Taller de Integracion - mmosser</h1>

<p>This app allows you to collect informations of instagram publications using a special TAG</p>

<h2>API's documentation:</h2>

<h3>POST /instagram/tag/buscar/:q</h3>
<p>param q: tag you want to search</p>
<p>At this stage, the request is supposed to respond a JSON with the total number of publications on instagram using that tag.</p>
<p>Version 1.0.0</p>