<h2>Just enter the tag you look for !</h2>

<%= form_tag "/instagram/tag/buscar", method: "post" do %>
  <label> <input type="text" name="tag" /> Tag </label>

  <input type="submit" value="Ok" />
<% end %>

<h2>Here is the response:</h2>
<p> <%= @jsonResponse.to_s %> </p>